h1 {
    color: darkblue;
    text-align: center;
}
article{
    background-color: aliceblue;
}
#academic{
    background-color: aquamarine;
}

/* --- Estilos generales de la pagina--- */
* {
    margin-left: 40px;
    margin-right: 40px;
}
body{
    background-color: azure;
}
/*Estilos fotos de perfil*/
