h1 {
    color: darkblue;
    text-align: center;
}
article{
    background-color: aliceblue;
}
#academic{
    background-color: aquamarine;
}

/* --- Estilos generales de la pagina--- */
* {
    margin-left: 40px;
    margin-right: 40px;
    background-color: rgb(147, 148, 148);
}

/*Estilos fotos de perfil*/
