/* --- Estilos generales de la pagina--- */
* {
    margin-left: 40px;
    margin-right: 40px;
    background-color: rgb(233 221 232);
}
h1 {
    color: darkblue;
    text-align: center;
}
article{
    background-color: aliceblue;
}
#academic{
    background-color: aquamarine;
}




/*Estilos fotos de perfil*/
